@charset "UTF-8";
@keyframes show {
  from {
    opacity: 0;
    scale: 25%;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}
body {
  margin: 0;
  background-color: #212121;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
}

p {
  margin: 0px;
}

a {
  color: white;
  text-decoration: none;
}

a {
  color: white;
  position: relative;
  text-decoration: none;
}

h2 {
  font-size: 3.5rem;
  font-weight: 800;
  text-align: center;
}

hr {
  margin: 0px;
  border: 1px solid #616161;
  opacity: 100%;
}

img {
  max-width: 100%;
}

.divider-bottom {
  border-bottom: 1px solid #616161;
}

header {
  border-bottom: 1px solid #616161;
}
header .navbar {
  background-color: #212121 !important;
  padding: 24px;
}
header .navbar .navbar-nav h1 {
  color: #BDBDBD !important;
}
header .navbar .navbar-nav a {
  color: #BDBDBD !important;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
header .navbar .navbar-nav a:hover {
  color: white !important;
}
header .navButton {
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 18px;
  border: 1px solid #BDBDBD;
  margin-right: 64px;
}
header .navButton:hover {
  background-color: white;
  color: black;
}
header .navbar-toggler-icon {
  background-image: url(../img/menu.svg);
}
header li a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: white;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
header li a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
header img {
  margin-left: 12px;
}
@media screen and (min-width: 992px) {
  header img {
    margin-left: 64px;
  }
}

/* Hero */
.hero {
  margin: 160px auto 0px;
  padding-bottom: 160px;
}
.hero h2 {
  font-size: 64px;
  font-weight: bold;
  max-width: 516px;
  background: linear-gradient(90deg, #00f0ff 0%, #b454ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
}
.hero__subtitle {
  font-size: 24px;
  max-width: 516px;
  color: #eee;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
}

/* Hero 2 */
.hero2 {
  background: linear-gradient(180deg, #07162c 14.9%, #06f 69.06%, #93beff 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 88vh;
}
.hero2 h2 {
  padding: 16px;
  background-color: rgba(0, 0, 0, 0.8);
  display: inline-block;
  margin: 0 40px;
}

/* Ver más */
.viewAll {
  display: flex;
  background-color: #638fff;
  height: 400px;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
}
.viewAll a {
  color: white;
  background: rgba(0, 0, 0, 0.7);
  padding: 20px 68px;
  border-radius: 32px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2.56px;
  text-transform: uppercase;
  text-align: center;
}
.viewAll a:hover {
  background-color: black;
}

/* Trabajos inicio */
.recentProjects img {
  view-timeline-name: --image;
  view-timeline-axis: block;
  animation-timeline: --image;
  animation-name: show;
  animation-range: entry 25% cover 30%;
  animation-fill-mode: both;
}
.recentProjects h2 {
  margin: 140px 0 174px;
  font-weight: 900;
}
.recentProjects h3 {
  font-size: 32px;
  line-height: 47px;
  margin: 16px 0 18px;
  font-weight: Bold;
}
.recentProjects p {
  font-size: 20px;
  color: #E0E0E0;
}
.recentProjects__text a {
  font-size: 20px;
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: bold;
}
.recentProjects__text a:hover {
  text-decoration: none;
}
.recentProjects :is(p, h3, a) {
  max-width: 419px;
}
@media screen and (min-width: 768px) {
  .recentProjects article:not(:last-child) {
    margin-bottom: 292px;
    border-bottom: 1px solid #616161;
  }
}

/* Trabajos */
.projects h2 {
  margin: 180px 0 64px;
}
.projects img {
  width: 100%;
  view-timeline-name: --image;
  view-timeline-axis: block;
  animation-timeline: --image;
  animation-name: show;
  animation-range: entry 25% cover 30%;
  animation-fill-mode: both;
}
.projects img:first-child {
  border-radius: 24px 24px 0px 0px;
  height: 470px;
  object-fit: cover;
}
.projects__description {
  border: solid #424242 1px;
  border-radius: 0px 0px 24px 24px;
  padding: 32px 40px 40px 40px;
  display: grid;
  grid-template-areas: "title icon" "text text";
  grid-template-columns: 1fr 30px;
}
.projects__description h3 {
  grid-area: title;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.72px;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.projects__description p {
  grid-area: text;
  color: #E0E0E0;
  font-size: 16px;
  font-weight: 400;
}
.projects__description a {
  grid-area: icon;
}
.projects__description a img {
  border-radius: 0;
  width: 24px;
}
.projects .jobsDivider {
  margin-top: 208px;
}

/* Sobre mi */
.about {
  margin-bottom: 112px;
  padding-bottom: 112px;
}
.about h2 {
  margin: 100px auto 116px;
}
.about__text1 {
  font-size: 24px;
  line-height: 1.5;
}
.about__text2 {
  font-size: 16px;
  line-height: 1.5;
}
.about__profile-pic {
  object-fit: cover;
}

.experience {
  padding-bottom: 180px;
}
.experience p {
  margin-bottom: 16px;
}
.experience p, .experience li {
  color: #E0E0E0;
  font-size: 1.125rem;
}
.experience li {
  margin-bottom: 12px;
}
.experience h2 {
  margin-bottom: 40px;
}
.experience h3 {
  margin-top: 60px;
  margin-bottom: 16px;
}
.experience__box {
  border: 1px solid #9E9E9E;
  border-radius: 8px;
  padding: 40px;
}
.experience__bg-parallax {
  height: 100px;
  width: 100%;
  background-image: url(../img/bg-decoration.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
}

/* Skills */
.skills h2 {
  margin: 100px auto 90px;
}
.skills div {
  display: inline-block;
  width: 49%;
  vertical-align: top;
}
.skills ul {
  position: relative;
  text-align: center;
  list-style: none;
}
.skills li {
  margin: 52px;
}
.skills img {
  position: absolute;
  left: calc(50% - 100px);
  margin-top: 80px;
}
.skills hr {
  margin: 120px 0 40px;
}

.skills-progress {
  padding: 100px 0;
}
.skills-progress h2 {
  margin-bottom: 90px;
}
.skills-progress__bar-wrapper {
  position: relative;
  width: 100%;
  border-radius: 4px;
  background-color: #424242;
  margin-bottom: 24px;
}
.skills-progress__bar {
  display: block;
  border-radius: 4px;
  height: 36px;
}
.skills-progress__bar.level1 {
  width: 20%;
  background-color: #9ad3f3;
}
.skills-progress__bar.level2 {
  width: 40%;
  background-color: #9ad3f3;
}
.skills-progress__bar.level3 {
  width: 60%;
  background-color: #9ad3f3;
}
.skills-progress__bar.level4 {
  width: 80%;
  background-color: #9ad3f3;
}
.skills-progress__bar.level5 {
  width: 100%;
  background-color: #9ad3f3;
}
.skills-progress__name {
  position: absolute;
  top: 5px;
  left: 10px;
  color: black;
}
.skills-progress__percent {
  position: absolute;
  top: 5px;
  right: 10px;
  color: #BDBDBD;
}
.skills-progress__percent.is-full {
  color: #212121;
}

/* Contacto */
.contact {
  margin: 100px auto 108px;
}
.contact a {
  display: block;
  text-align: center;
  font-size: 24px;
  margin-bottom: 24px;
}
.contact input {
  height: 72px;
  font-size: 18px;
  border: 1px solid #BDBDBD;
  background-color: transparent;
  color: #BDBDBD;
  padding: 0 24px;
  width: 100%;
}
.contact textarea {
  font-size: 18px;
  border: 1px solid #BDBDBD;
  background-color: transparent;
  color: #BDBDBD;
  padding: 24px;
  width: 100%;
}
.contact button {
  display: block;
  width: 401px;
  height: 64px;
  margin: 40px auto;
  font-family: Helvetica Now Display;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 2px;
  border-radius: 64px;
  text-transform: uppercase;
  background-color: white;
}

/* Footer */
.footer {
  color: black;
  background-color: #212121;
  display: flex;
  flex-direction: column;
  padding: 48px 0;
}
.footer__description {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 24px;
  align-items: center;
  color: #BDBDBD;
}
.footer__social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 100%;
  border-color: #616161;
}
.footer__social--linkedin {
  transition: background-color 0.3s ease-in-out;
}
.footer__social--linkedin:hover {
  background-color: #0077b5;
  border-color: #0077b5;
}
.footer__social--behance {
  transition: background-color 0.3s ease-in-out;
}
.footer__social--behance:hover {
  background-color: #053eff;
  border-color: #053eff;
}
.footer__social--instagram {
  transition: background-color 0.3s ease-in-out;
}
.footer__social--instagram:hover {
  background-color: #f10174;
  border-color: #f10174;
}
.footer a {
  color: #BDBDBD;
  display: flex;
}
.footer ul {
  display: flex;
  justify-content: center;
  flex-flow: row;
  gap: 24px;
  margin-bottom: 0px;
  padding-left: 0px;
}
.footer ul li {
  list-style: none;
}

/*# sourceMappingURL=style.css.map */
