body {
  margin: 0;
  background-color: hsl(0, 0%, 13%);
  color: white;
  font-family: Helvetica, Arial, sans-serif;
}

p {
  margin: 0px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
}

h1 {
  font-size: 64px;
  margin-top: 0;
  margin-bottom: 18px;
}

h2 {
  font-size: 56px;
  font-weight: 800;
  text-align: center;
}

hr {
  margin: 0px;
  border: 1px solid #616161;
  opacity: 100%;
}

header .navButton {
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  background-color: transparent;
  color: rgb(0, 0, 0);
  text-decoration: none;
  border-radius: 18px;
  border: 1px solid black;
  margin-right: 64px;
}

header .navButton:hover {
  background-color: #ccc;
}

header img {
  margin-left: 12px;
}

@media screen and (min-width: 992px) {
  header img {
    margin-left: 64px;
  }
}

/* Hero */

.hero {
  margin-top: 96px;
  margin-bottom: 112px;
}

.hero h1 {
  font-size: 64px;
  font-weight: bold;
  max-width: 516px;
  background: linear-gradient(90deg, #00f0ff 0%, #b454ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heroSubtitle {
  font-size: 24px;
  max-width: 516px;
  color: #eee;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
}

/* Hero 2 */
.hero2 {
  background: linear-gradient(180deg, #07162C 14.90%, #06F 69.06%, #93BEFF 100%);
  height: 615px;
}

.hero2 h1 {
  margin-top: 20%;
  display: inline-block;
  padding: 16px;
  background-color: #000000cc;
}

/* Ver más */

.verMas {
  display: flex;
  background-color: #638FFF;
  height: 400px;
  justify-content: center;
  align-items: center;
}

.verMas a {
  color: white;
  background: rgba(0, 0, 0, 0.7);
  padding: 20px 68px;
  border-radius: 32px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2.56px;
  text-transform: uppercase;
}

.verMas a:hover {
  background-color: black;
}

/* Trabajos */

.trabajos .bgImg {
  height: 464px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bgImg1 {
  background-image: url(/img/proj1.jpg);
}

.bgImg2 {
  background-image: url(/img/proj2.jpg);
}

.bgImg3 {
  background-image: url(/img/proj3.jpg);
}

.trabajos h2 {
  margin: 90px 0 174px;
  font-weight: 900;
}

.trabajos h3 {
  font-size: 32px;
  line-height: 47px;
  margin-top: 16px;
  margin-bottom: 18px;
  font-weight: Bold;
}

.trabajos p {
  font-size: 20px;
  color: #e0e0e0;
}

.trabajos .projectText a {
  font-size: 20px;
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: bold;
}

.trabajos .projectText a:hover {
  background-color: white;
  background-size: 120% 100%;
  text-decoration: none;
  color: black;
}

.trabajos :is(p, h3, a) {
  max-width: 419px;
}

.hrTrabajos {
  margin-bottom: 292px;
}

/* Trabajos Main */

.trabajosMain h2 {
  margin-top: 201px;
  margin-bottom: 56px;
}

.trabajosMain img {
  border-radius: 24px 24px 0px 0px;
  width: 100%;
}

.jobDescription {
  border: solid #424242 1px;
  border-radius: 0px 0px 24px 24px;
  padding: 32px 40px 40px 40px;
  display: grid;
  grid-template-areas:
    "title icon"
    "text text";
  grid-template-columns: 1fr 30px;
}

.jobDescription h3 {
  grid-area: title;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.72px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.jobDescription p {
  grid-area: text;
  color: #e0e0e0;
  font-size: 16px;
  font-weight: 400;
}

.jobDescription a {
  grid-area: icon;
}

.jobDescription a img {
  border-radius: 0;
  width: 24px;
}

.jobsDivider {
  margin-top: 208px;
}

/* Skills */

.skills h2 {
  margin: 100px auto 90px;
}

.skills div {
  display: inline-block;
  width: 49%;
  vertical-align: top;
}

.skills ul {
  position: relative;
  text-align: center;
  list-style: none;
}

.skills li {
  margin: 52px;
}

.skills img {
  position: absolute;
  left: calc(50% - 201px);
  margin-top: 80px;
}

.skills hr {
  margin: 120px 0 40px
}

/* Sobre mi */

.aboutMe h2 {
  margin: 100px auto 116px;
}

.aboutText1 {
  font-size: 24px;
  line-height: 1.5;
}

.aboutText2 {
  font-size: 16px;
  line-height: 1.5;
}

.aboutMe {
  margin-bottom: 112px;
}


/* Contacto */

.contact {
  margin: 100px auto 108px;
}

.contact a {
  display: block;
  text-align: center;
  font-size: 24px;
  margin-bottom: 24px;
}

.contact form input {
  height: 72px;
  font-size: 18px;
  border: 1px solid #bdbdbd;
  background-color: transparent;
  color: #bdbdbd;
  padding: 0 24px;
  width: 100%;
}

.contact form textarea {
  font-size: 18px;
  border: 1px solid #bdbdbd;
  background-color: transparent;
  color: #bdbdbd;
  padding: 24px;
  width: 100%;
}

.contact button {
  display: block;
  width: 401px;
  height: 64px;
  margin: 40px auto;
  font-family: Helvetica Now Display;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 2px;
  border-radius: 64px;
  text-transform: uppercase;
  background-color: white;
}

/* Footer */

footer {
  color: black;
  background-color: #212121;
  display: flex;
  flex-direction: column;
  padding: 48px 0;
}

.footerDescription {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 24px;
  align-items: center;
  color: #bdbdbd;
}

footer .socials {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 100%;
  border-color: #616161;
}

footer a {
  color: #bdbdbd;
  display: flex;
}

.linkedin:hover {
  background-color: #0077b5;
  border-color: #0077b5;
}

.behance:hover {
  background-color: #053eff;
  border-color: #053eff;
}

.instagram:hover {
  background-color: #f10174;
  border-color: #f10174;
}

footer ul {
  display: flex;
  justify-content: center;
  flex-flow: row;
  gap: 24px;
  margin-bottom: 0px;
  padding-left: 0px;
}

footer ul li {
  list-style: none;
}
