header {
  border-bottom: 1px solid $gray700;
  .navbar {
    background-color: $gray900;
    padding: 24px;
    .navbar-nav {
      a {
        font-family: Montserrat;
        font-size: rem(14px);
        font-weight: 600;
        text-transform: uppercase;
      }
    }
  }
  .navButton {
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 18px;
    border: 1px solid $gray400;
    margin-right: 64px;
  }

  .navButton:hover {
    background-color: white;
    color: black;
  }

  .navbar-toggler-icon {
    background-image: url(../img/menu.svg)
  }

  li {
    @include underlineEffect();
  }

  img {
    margin-left: 12px;
  }

  @media screen and (min-width: 992px) {
    img {
      margin-left: 64px;
    }
  }
}
