/* Hero */

.hero {
  margin: 160px auto 0px;
  padding-bottom: 160px;

  h2 {
    font-size: 64px;
    font-weight: bold;
    max-width: 516px;
    background: linear-gradient(90deg, #00f0ff 0%, #b454ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: left;
  }

  &__subtitle {
    font-size: 24px;
    max-width: 516px;
    color: #eee;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
  }
}

/* Hero 2 */

.hero2 {
  background: linear-gradient(180deg, #07162c 14.9%, #06f 69.06%, #93beff 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 88vh;

  h2 {
    padding: 16px;
    background-color: #000000cc;
    display: inline-block;
    margin: 0 40px;
  }
}