/* Trabajos inicio */

.recentProjects {
  img {
    @include fade-in-on-scroll();
  }

  h2 {
    margin: 140px 0 174px;
    font-weight: 900;
  }

  h3 {
    font-size: 32px;
    line-height: 47px;
    margin: 16px 0 18px;
    font-weight: Bold;
  }

  p {
    font-size: 20px;
    color: $gray300;
  }

  &__text a {
    font-size: 20px;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: bold;
  }

  &__text a:hover {
    text-decoration: none;
  }

  :is(p, h3, a) {
    max-width: 419px;
  }

  @media screen and (min-width: map-get($grid-breakpoints, md)) {
    article:not(:last-child) {
      margin-bottom: 292px;
      border-bottom: 1px solid #616161;
    }
  }
}

/* Trabajos */

.projects {
  h2 {
    margin: 180px 0 64px;
  }

  img {
    width: 100%;
    @include fade-in-on-scroll();
  }
  img:first-child {
    border-radius: 24px 24px 0px 0px;
    height: 470px;
    object-fit: cover;
  }

  &__description {
    border: solid $gray800 1px;
    border-radius: 0px 0px 24px 24px;
    padding: 32px 40px 40px 40px;
    display: grid;
    grid-template-areas:
      "title icon"
      "text text";
    grid-template-columns: 1fr 30px;

    h3 {
      grid-area: title;
      font-size: 24px;
      font-weight: 700;
      letter-spacing: 0.72px;
      text-transform: uppercase;
      margin-bottom: 16px;
    }

    p {
      grid-area: text;
      color: $gray300;
      font-size: 16px;
      font-weight: 400;
    }

    a {
      grid-area: icon;
    }

    a img {
      border-radius: 0;
      width: 24px;
    }
  }

  .jobsDivider {
    margin-top: 208px;
  }
}
